.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 100px;
    background: transparent;
    font-family: "NanumSquare", sans-serif;

    transition: 0.5s;
    
    &.on {
        background: $color-white;
        border-bottom: 1px solid #ddd;
        
        .h_inner {

            .logo {
                background: url(../imges/logo.svg)no-repeat center center/cover;
            }
            .gnb {
                ul {
                    li {
                        color: $color-black;
                        font-family: 'NanumSquare';
                    }
                }
            }
    
            .customer {
                color: $color-black;
            }
        }

        .mobile_btn {
            &::before {
                background: $color-black;
            }

            span {
                &::before {
                    background: $color-black;
                }

                &::after {
                    background: $color-black;
                }
            }
        }
    }

    .h_inner {
        position: relative;
        height: 100%;

        .logo {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translate(0, -50%);
            
            background: url(../imges/logo_wt.svg)no-repeat center center/cover;
            height: 60px;
            width:298px;
        }

        .moblie_customer {
            position: absolute;
            top: 50%;
            left: 30px;
            width: calc(100% - 50px);
            transform: translate(0, -50%);
            padding: 0 50px 0 0;

            z-index: 999;

            display: flex;
            align-items: center;
            justify-content: space-between;
            //gap: 100px;

            opacity: 0;
            visibility: hidden;

            //transition: 0.5s;

            .cart_btn {
                background: $color-white;
                border-radius: 50px;
                padding: 6px 16px;
                display: block;
                width: 110px;
                line-height: 16px;
                margin: 0;

                i {
                    font-size: 20px;
                    font-weight: 400;
                    color: $color-blue;
                    vertical-align: middle;
                }

                span {
                    font-size: 14px;
                    font-weight: 900;
                    color: #003c86;
                    font-family: 'NanumSquare';
                }
            }

            .login {
               font-size: 14px;
               font-weight: 400;
               color: $color-white;
               font-family: 'NanumSquare';
            }

            &.on {
                opacity: 1;
                visibility: visible;
            }
        }

        .gnb {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            color: $color-white;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 60px;
                
                li {
                    font-size: 16px;
                    font-weight: 400;

                    a {
                        line-height: 100px;

                        .plus {
                            display: none;
                        }
                    }

                    .lnb {
                        display: none;
                    }
                }
            }
        }

        .customer {
            position: absolute;
            right: 30px;
            color: $color-white;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                line-height: 100px;

                li {
                    font-size: 14px;
                    font-weight: 500;

                    i {
                        font-size: 20px;
                        font-weight: 300;
                        vertical-align: middle;
                        margin: 0 3px 0 0;
                    }
                }
            }
        }
    }

    .mobile_btn {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translate(0, -50%);

        width: 30px;
        height: 30px;
        background: transparent;
        border-radius: 5px;

        display: none;

        &::before {
            content: "";
            position: absolute;
            top: 43%;
            left: 0;
            transform: translate(0, -50%);

            width: 30px;
            height: 2px;
            background: $color-white;
           
            transition: 0.3s;
        }

        span {
            display: block;
            width: 30px;
            height: 30px;

            color: transparent;

            &::before {
                content: "";
                position: absolute;
                top: 10%;
                left: 0;
                //transform: translate(-50%, -50%);

                width: 30px;
                height: 2px;
                background: $color-white;
                z-index: 999;

                transition: 0.3s;
            }

            &::after {
                content: "";
                position: absolute;
                top: 70%;
                left: 0;
                //transform: translate(-50%, -50%);

                width: 30px;
                height: 2px;
                background: $color-white;
                z-index: 999;

                transition: 0.5s;
            }
        }
    }
}

@media(max-width: 768px) {
    .header {
        height: 80px;

        &.on {
            .h_inner {
                color: $color-white;
                .gnb {
                    ul {
                        li {
                            color: $color-white;
                        }
                    }
                }

                .customer {
                    color: $color-white;
                }
            }

            .mobile_btn.on {
                span {
                    &::before {
                        background: $color-white;
                    }
                    &::after {
                        background: $color-white;
                    }
                }
            }
        }

        .h_inner {

            .logo {
                width: 150px;
                height: 30px;
                left: 20px;
            }

            .gnb {
                display: none;

                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;

                background: #0160ae;
                padding: 130px 30px 0 30px;

                transition: 0.5s;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 60px;
                    left: -50px;
                    width: 450px;
                    height: 350px;
                    background: url(../imges/sub_rock.svg)no-repeat center;
                    opacity: 0.08;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 80px;
                    left: 50%;
                    transform: translate(-50%, 0);

                    width: 100%;
                    height: 1px;
                    background: rgba(255, 255, 255, 0.2);
                }

                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0;

                    li {
                        color: $color-white;
                        font-size: 20px;
                        font-weight: 400;
                        width: 100%;

                        a {
                            line-height: 60px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .plus {
                                display: block;
                            }
                        }
                    }
                }

                &.on {
                    display: block;
                }
            }

            .customer {
                display: none;
            }
        }

        .mobile_btn {
            display: block;
            z-index: 999;

            &.on::before {
                background: transparent;
                right: 30px;
            }

            &.on span::before {
                transform: translateY(9px) rotate(45deg);
            }

            &.on span::after {
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    }
}