.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 100px;
    background: transparent;
    font-family: "NanumSquare", sans-serif;

    transition: 0.5s;
    
    &.on {
        background: $color-white;
        border-bottom: 1px solid #ddd;
        
        .h_inner {
            .logo {
                background: url(../imges/logo.svg)no-repeat center center/cover;
            }

            .gnb {
                ul {
                    li {
                        color: $color-black;
                    }
                }
            }
    
            .customer {
                color: $color-black;
            }
        }
    }

    .h_inner {
        position: relative;
        height: 100%;

        .logo {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translate(0, -50%);
            
            background: url(../imges/logo_wt.svg)no-repeat center center/cover;
            height: 60px;
            width:298px;
        }

        .gnb {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            color: $color-white;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                
                li {
                    font-size: 16px;
                    font-weight: 400;

                    a {
                        line-height: 100px;
                    }

                    .lnb {
                        display: none;
                    }
                }
            }
        }

        .customer {
            position: absolute;
            right: 30px;
            color: $color-white;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                line-height: 100px;

                li {
                    font-size: 14px;
                    font-weight: 500;

                    i {
                        font-size: 20px;
                        font-weight: 300;
                        vertical-align: middle;
                        margin: 0 3px 0 0;
                    }
                }
            }
        }
    }
}