.main_together {
    .inner {
        .img_box {
            width: 265px;
            margin: 0 auto 42px auto;
        }

        .txt {
            text-align: center;

            h3 {
                font-size: 70px;
                font-weight: 700;
                margin: 0 0 24px 0;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: rgba(101, 101, 101, 0.8);
                margin: 0 0 90px 0;
            }

            span {
                font-size: 16px;
                font-weight: 500;
                color: rgba(101, 101, 101, 1);
                padding: 28px 0;

                border-top: 1px solid rgba(101, 101, 101, 0.7);

                i {
                    font-size: 24px;
                    font-weight: 400;
                    color: $color-white;
                    background: $color-dblue;
                    border-radius: 50%;
                    padding: 10px;
                    margin: 0 0 0 100px;

                    transition: 0.5s;
                }

                &:hover i {
                    background: $color-mint;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main_together {
        padding: 50px 0;

        .inner {
            .img_box {
                width: 200px;
                margin: 0 auto 24px auto;
            }

            .txt {
                h3 {
                    font-size: 26px;
                    margin: 0 0 16px 0;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0 0 54px 0;
                }

                span {
                    font-size: 14px;
                    padding: 16px 0;
                    color: $color-black;

                    i {
                        font-size: 16px;
                        padding: 8px;
                        margin: 0 0 0 64px;
                    }
                }
            }
        }
    }
}