$color-yellow: #f2c81f;
$color-mint: #01babd;
$color-blue: #0054a7;
$color-dblue: #035ac7;
$color-puple: #e7e7fd;
$color-white: #fff;
$color-lgray: #faf6ee;
$color-gray: #656565;
$color-fbg: #41464e;
$color-black: #11132a;
$color-dpuple: #3232c8;