@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  word-break: keep-all;
  font-family: "Noto Sans", "Noto Sans KR", "Roboto", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1;
  background: #faf6ee;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 100px;
  background: transparent;
  transition: 0.5s;
}
.header.on {
  background: #fff;
}
.header.on .h_con .logo {
  background: url(../imges/logo.svg) no-repeat center center/cover;
}
.header.on .h_con .gnb {
  color: #11132a;
}
.header.on .h_con .customer {
  color: #11132a;
}
.header .h_con {
  position: relative;
  height: 100%;
}
.header .h_con .logo {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(0, -50%);
  background: url(../imges/logo_wt.svg) no-repeat center center/cover;
  height: 60px;
  width: 298px;
}
.header .h_con .gnb {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
}
.header .h_con .gnb ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header .h_con .gnb ul li a {
  line-height: 100px;
}
.header .h_con .gnb ul li .lnb {
  display: none;
}
.header .h_con .customer {
  position: absolute;
  right: 100px;
  color: #fff;
}
.header .h_con .customer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header .h_con .customer ul li a {
  line-height: 100px;
}

.main_studio {
  background: #035ac7;
}
.main_studio .inner {
  height: calc(100vh - 120px);
  position: relative;
}
.main_studio .inner::before {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 240px;
  height: 28px;
  background: url(../imges/bg_scroll.png);
}
.main_studio .inner .tit {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main_studio .inner .stone_box .stone {
  position: absolute;
  width: 150px;
  height: 150px;
}
.main_studio .line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}
.main_studio .line i {
  position: relative;
  width: 11.1111111111%;
  height: 100%;
}
.main_studio .line i:nth-child(odd) {
  animation: line-animation 3s cubic-bezier(0.2, 0, 0.2, 1) both;
}
.main_studio .line i::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
}/*# sourceMappingURL=stone.css.map */